* {
    color: white;
}

body {
    background-color: black;
}

.resize {
    color: black;
}

.reset {
    color: black;
}

.content {
    display: flex;
}

.menu {
    margin: 10px;
}

.container {
    border: solid;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    box-sizing: border-box;
}

.box {
    box-sizing: border-box;
}